* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 20px;
    color: #EBEDEF;
    background-color: #EBEDEF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header-nav {
    border: 0;
    border-radius: 0;
    background-color: #34495E;
}
.navbar-brand h1{
    color: #EBEDEF;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.65em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list a {
    text-align: center;
    color: #EBEDEF;
    font-size: 1.5em;
}
#nav-list a:hover {
    background-color: #EBEDEF;
    color: #34495E;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #EBEDEF;
}
#our-menu {
    text-align: center;
    color: #34495E;
    font-weight: 700;
    letter-spacing: 2px;
}
div.padding-box {
    padding: 15px;
}
div.box {
    background-color: #34495E;
    color: #EBEDEF;
    padding: 15px;
}
section.menu-item {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 0 10px;
}
.box p {
    font-size: 18px;
    padding: 10px;
}
a.run-it-back {
    color: #73C6B6;
    padding: 10px;
    font-size: 15px;
}

@media (max-width: 479px) {
    .navbar-brand h1 {
        font-size: 1.6em;
        line-height: 0.75em;
    }
}